:root{
  --primary-modal-bg-color: #040404c2;
  --primary-modal-container-bg-color: #fff;
  --primary-modal-container-bg-dark-theme-color:#191818;;
  --primary-modal-color: #000;
  --primary-modal-dark-theme-color: #fff;
  --close-btn-color:#d01e1e;
  --custom-btn-color:#4c4cff;

}
.modal-bg{
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-modal-bg-color);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container{
  background-color: var(--primary-modal-container-bg-color);
  width: 800px;
  min-height: 50%;
  border-radius: 4px;
  color: var(--primary-modal-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 7px;
}

.modal-header{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4px;
    border-bottom: 1px solid #00000040;
    min-height: 40px;
}
.modal-header .modal-header-title{
  flex: 1;
}

.modal-header .modal-header-close-btn{
  font-size: 30px;
    transform: rotate(
45deg
);
    cursor: pointer;
    color:var(--primary-modal-color);
}

.modal-header .modal-header-close-btn:hover{
  color:var( --close-btn-color);
}

.modal-body{
  height: 100%;
  flex: 1;
  width: 100%;
  z-index:3000;
}
.modal-footer{
  padding: 7px;
  border-top: 1px solid #bfbfbf;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-footer .modal-footer-close-btn{
  background-color: var( --close-btn-color);
}

.modal-footer .modal-footer-custom-btn{
  background-color: var( --custom-btn-color);
}
.modal-footer-close-btn , .modal-footer-custom-btn
{
  border: none;
  outline: none;
  color: #fff;
  padding: 7px;
  cursor: pointer;
  border-radius: 3px;
  width: 100px;
  margin: 0 3px;
  text-transform: capitalize;
}
.modal-footer .modal-footer-close-btn:hover{
  border: 1px solid var( --close-btn-color);
  background-color: transparent;
  color: var( --close-btn-color);
}


.modal-footer .modal-footer-custom-btn:hover{
  border: 1px solid var( --custom-btn-color);
  background-color: transparent;
  color: var( --custom-btn-color);
}


@media (max-width:830px){
  .modal-container{
    width: 90%;
  }
}
@media (max-width:450px){
  .modal-footer{
    justify-content: center;
  }
}